<div class="wrapper-footer">
  <div class="wrapper">
    <footer class="footer">
      <a href="https://github.com/{{ site.footer-links.github }}">
        {% include github.svg %}
      </a>
      <a href="https://gitlab.com/{{ site.footer-links.gitlab }}">
        {% include gitlab.svg %}
      </a>
      <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
        {% include rss.svg %}
      </a>
    </footer>
  </div>
</div>