<div class="meta-info-wrapper">
    <ul class='meta-info'>
        <li>
            <h3>farm</h3>
            <p>{{ include.farm }}</p>
        </li>
        <li>
            <h3>process</h3>
            <p>{{ include.process }}</p>
        </li>
        <li>
            <h3>region</h3>
            <p>{{ include.region }}</p>
        </li>
        <li>
            <h3>variety</h3>
            <p>{{ include.variety }}</p>
        </li>
    </ul>
</div>