<div id="{{ include.id }}" class="map {{ include.class }}"></div>

<script>
    mapboxgl.accessToken = "{{ site.mapbox_key }}";

    function loadMap() {
        var map = new mapboxgl.Map({
            container: "{{ include.id }}",
            style: 'mapbox://styles/mapbox/streets-v11',
            center: [
                "{{ include.lng }}",
                "{{ include.lat }}"
            ],
            zoom: "{{ include.zoom }}"
        });

        var size = 100;
        var ringColor = "{{ include.id }}" === "source" ? "rgba(31,184,112," : "rgba(158,86,27,";
        var dotColor = "{{ include.id }}" === "source" ? "rgba(20,114,62," : "rgba(114,62,20,";

        var pulsingDot = {
            width: size,
            height: size,
            data: new Uint8Array(size * size * 4),

            // get rendering context for the map canvas when layer is added to the map
            onAdd: function () {
                var canvas = document.createElement('canvas');
                canvas.width = this.width;
                canvas.height = this.height;
                this.context = canvas.getContext('2d');
            },

            // called once before every frame where the icon will be used
            render: function () {
                var duration = 1000;
                var t = (performance.now() % duration) / duration;

                var radius = (size / 2) * 0.3;
                var outerRadius = (size / 2) * 0.7 * t + radius;
                var context = this.context;

                // draw outer circle
                context.clearRect(0, 0, this.width, this.height);
                context.beginPath();
                context.arc(
                    this.width / 2,
                    this.height / 2,
                    outerRadius,
                    0,
                    Math.PI * 2
                );
                context.fillStyle = `${ringColor}${(1 - t)})`;
                context.fill();

                // draw inner circle
                context.beginPath();
                context.arc(
                    this.width / 2,
                    this.height / 2,
                    radius,
                    0,
                    Math.PI * 2
                );
                context.fillStyle = `${dotColor}1)`;
                context.strokeStyle = 'white';
                context.lineWidth = 2 + 4 * (1 - t);
                context.fill();
                context.stroke();

                // update this image's data with data from the canvas
                this.data = context.getImageData(
                    0,
                    0,
                    this.width,
                    this.height
                ).data;

                // continuously repaint the map, resulting in the smooth animation of the dot
                map.triggerRepaint();

                // return `true` to let the map know that the image was updated
                return true;
            }
        };

        map.on('load', function () {
            map.addImage('pulsing-dot', pulsingDot, {
                pixelRatio: 2
            });

            map.addLayer({
                'id': 'points',
                'type': 'symbol',
                'source': {
                    'type': 'geojson',
                    'data': {
                        'type': 'FeatureCollection',
                        'features': [{
                            'type': 'Feature',
                            'geometry': {
                                'type': 'Point',
                                'coordinates': [
                                    "{{ include.lng }}",
                                    "{{ include.lat }}"
                                ]
                            },
                            'properties': {
                                'title': "{{ include.title }}"
                            }
                        }]
                    }
                },
                'layout': {
                    'icon-image': 'pulsing-dot',
                    'text-field': ['get', 'title'],
                    'text-offset': [0, 1.4],
                    'text-anchor': 'top'
                }
            });
        });
    }

    loadMap();
</script>