<div class="wrapper-masthead">
  <div class="wrapper">
    <header class="masthead clearfix">

      <div class="left">
        <a href="{{ site.baseurl }}/" class="site-avatar">
          {% include v60.svg %}
        </a>

        <div class="site-info">
          <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
          <p class="site-description">{{ site.description }}</p>
        </div>
      </div>
    </header>
    <nav>
      <a href="/">Home</a>
      <a href="/about" | prepend: site.baseurl }}">About</a>
      {% for tag in site.supported_tags %}
      <a href="/tag/{{ tag | prepend: site.baseurl }}">{{ tag | capitalize }}</a>
      {% endfor %}
    </nav>
  </div>
</div>