<div class="posts">
  {% assign posts = site.posts %}

  {% if include.tag %}
  {% assign posts = site.tags[include.tag] %}
  <h1 class="tag-title">
    {{ include.tag | capitalize }}
  </h1>
  {% endif %}

  {% for post in posts %}
  <article class="post">
    <div class="post-top">
      <h1>
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h1>

      <span class="post-meta">
        <time datetime="{{ post.date | date_to_xmlschema }}"
          itemprop="datePublished">{{ post.date | date: "%B %-d, %Y" }}</time>
      </span>
    </div>

    <div class="entry">
      {{ post.excerpt }}
    </div>

    <div class="post-bottom">
      <a class="link" href="{{ post.url | prepend: site.baseurl }}" class="read-more">Read more.</a>
      <div class="tags">
        {% for tag in post.tags %}
        {% if site.supported_tags contains tag and include.tag != tag %}
        <a href="{{ tag | prepend: site.tagurl }}" class="tag">
          #{{ tag | slugify }}
        </a>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </article>
  {% endfor %}
</div>