<div class="rating">
	<h2>my rating: {{ include.rating }}/5</h2>
	<div class="rating-stars">
		{% if include.rating >= 1 %}
		{% include bean.svg %}
		{% else %}
		{% include bean.svg class='empty' %}
		{% endif %}

		{% if include.rating >= 2 %}
		{% include bean.svg %}
		{% else %}
		{% include bean.svg class='empty' %}
		{% endif %}

		{% if include.rating == 2.5 %}
		{% include bean.svg class='half-star' %}
		{% elsif include.rating >= 3 %}
		{% include bean.svg %}
		{% else %}
		{% include bean.svg class='empty' %}
		{% endif %}

		{% if include.rating == 3.5 %}
		{% include bean.svg class='half-star' %}
		{% elsif include.rating >= 4 %}
		{% include bean.svg %}
		{% else %}
		{% include bean.svg class='empty' %}
		{% endif %}

		{% if include.rating == 4.5 %}
		{% include bean.svg class='half-star' %}
		{% elsif include.rating >= 5 %}
		{% include bean.svg %}
		{% else %}
		{% include bean.svg class='empty' %}
		{% endif %}
	</div>
</div>