@charset "utf-8";

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
  background: $white;
  font: 18px/1.4 $lora;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $darkGray;

  @include darkmode {
    background: $darkerGray;
    color: $lightGray;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $openSans;
  color: $darkerGray;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }

  @include darkmode {
    color: $lightGray;
  }
}

h1 {
  font-size: 30px;

  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: $spacing-unit;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 15px 0;
}

a {
  color: $link;
  text-decoration: none;
  cursor: pointer;
}

a.link,
.post a {

  &:hover,
  &:active {
    border-bottom: 2px solid $link;
  }
}

em,
i {
  font-style: italic;
}

strong,
b {
  font-weight: bold;
}

iframe {
  display: flex;
  margin: $spacing-unit auto;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.post-meta {
  display: flex;
  justify-content: space-between;
  font-size: 0.8em;
  color: $gray;

  @include darkmode {
    color: $slightGray;
  }
}

// Specify the color of the selection
::-moz-selection,
::selection {
  color: $white;
  background: $darkGray;

  @include darkmode {
    color: $darkerGray;
    background: $link;
  }
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.masthead {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 30px 0 $spacing-unit 0;

  @include mobile {
    justify-content: center;
    flex-direction: column;

    .left {
      text-align: center;
      flex-direction: column;
    }
  }

  .left,
  .right {
    display: flex;
    align-items: center;
  }
}

.site-avatar {
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  svg {
    width: 40px;
    height: 40px;
    margin-left: 12px;

    @include mobile {
      width: 60px;
      height: 60px;
    }

    @include darkmode {
      fill: $white;
    }

    &:hover {
      fill: $link;
    }
  }
}

.site-info {
  display: inline-flex;
  flex-direction: column;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $darkGray;
  cursor: pointer;
  font-family: $openSans;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;

  @include darkmode {
    color: $lightGray;
  }
}

.site-description {
  margin: -5px 0 0 0;
  color: $gray;
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }

  @include darkmode {
    color: $slightGray;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  margin-bottom: $spacing-unit;

  @include darkmode {
    border-color: $lighterGray;
  }

  a {
    border-top: 2px solid $border-color;
    border-bottom: 2px solid $border-color;
    border-radius: 0;
    color: $darkGray;
    letter-spacing: 0.5px;
    width: 20%;
    text-align: center;
    padding: $spacing-unit/2;

    &:first-child {
      border-radius: $border-radius 0 0 $border-radius;
      border-left: 2px solid $border-color;
    }

    &:last-child {
      border-right: 2px solid $border-color;
      border-radius: 0 $border-radius $border-radius 0;
    }

    &:hover {
      color: $link;
      border-color: $link;
    }

    @include darkmode {
      color: $lightGray;
    }
  }

  @include mobile {
    flex-wrap: wrap;
    justify-content: center;
    border: 2px solid $border-color;
    border-radius: $border-radius;

    a {
      width: auto;
      padding: $spacing-unit/2 $spacing-unit;
      border: none !important;
    }
  }
}

//
// .main
//

.posts {
  >.post {
    padding: 0 0 2em 0;
    border-bottom: 2px solid $border-color;

    &:last-child {
      padding-bottom: 1em;
      border-bottom: none;
    }
  }

  .tag-title {
    font-size: 2em;
    margin: 0;
    text-align: center;
  }
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  p img {
    border: 2px solid $border-color;
    max-width: 300px;
    display: flex;
    margin: $spacing-unit auto;

    @include darkmode {
      border-color: $slightGray;
    }
  }

  .comments {
    margin-top: $spacing-unit/2;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }

  .post-top,
  .post-bottom {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;

    h1 {
      margin-bottom: 0;
    }

    @include mobile {
      margin-bottom: 8px;
    }
  }

  .post-title {
    margin-top: $spacing-unit * 2 + 4px;
  }

  .post-links {
    display: flex;
    justify-content: space-between;
    margin-top: $spacing-unit * 2;
  }

  .post-content,
  .entry {
    line-height: 1.6em;
  }

  .tags {
    display: flex;
    font-family: $openSans;
    align-items: center;
    font-size: 0.7em;

    .tag {
      background: none;
      color: $link;
      border: $link solid 2px;
      margin: 0 4px;
      padding: 3px 5px;
      border-radius: $border-radius;

      &:hover {
        border-color: $border-color;
        color: $border-color;

        @include darkmode {
          border-color: $lightGray;
          color: $lighterGray;
        }
      }
    }
  }

  .rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $spacing-unit/2 $spacing-unit;
    margin: $spacing-unit 0;
    border-radius: $border-radius;
    border: $black solid 2px;

    h2 {
      font-size: 1.4em;
      line-height: 1;
      margin: 0;
    }

    .rating-stars {
      align-items: center;
      display: flex;

      .half-star path:first-of-type,
      .empty {
        fill: none;
        stroke: $darkGray;
        stroke-width: 2px;

        @include darkmode {
          stroke: $white;
        }
      }
    }

    @include mobile {
      h2 {
        font-size: 1.2em;
      }

      svg {
        width: 26px;
      }
    }

    @include darkmode {
      border-color: $slightGray;

      svg {
        fill: $white;
      }
    }
  }

  .equipment {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 12px 0;

    .item {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      height: 200px;

      img {
        margin: $spacing-unit 0;
        max-width: 100px;
        max-height: 140px;

        @include darkmode {
          filter: invert(1);
        }
      }

      p {
        margin: 0 6px;
        line-height: 1.8em;
        letter-spacing: 0.5px;
        font-weight: 100;
      }
    }
  }

  .meta-info-wrapper {
    display: flex;
    justify-content: center;

    .meta-info {
      border-radius: $border-radius;
      border: $black solid 2px;
      padding: $spacing-unit/2 $spacing-unit;
      width: 60%;

      @include darkmode {
        border-color: $slightGray;
      }

      @include mobile {
        width: 100%;
      }

      list-style-type: none;
      margin: 24px 0;

      li {
        align-items: center;
        display: flex;
        justify-content: space-between;

        h3,
        p {
          margin: 0;
        }
      }
    }
  }

  .maps {
    display: flex;
    justify-content: space-between;

    @include mobile {
      flex-wrap: wrap;
    }
  }

  .map {
    border: $black solid 2px;
    border-radius: $border-radius;
    display: inline-block;
    height: 355px;
    width: 355px;

    &.left {
      margin-right: 14px;
    }

    @include mobile {
      width: 100%;

      &.left {
        margin-right: 0;
        margin-bottom: $spacing-unit;
      }
    }

    @include darkmode {
      border-color: $slightGray;
    }
  }
}

.wrapper-footer {
  margin-top: 50px;

  img {
    height: 32px;
  }
}

footer {
  padding: $spacing-unit 0 40px 0;
  margin-bottom: $spacing-unit;
  text-align: center;

  a {
    margin: 4px $spacing-unit/2;

    &:hover {
      svg {
        fill: $link;
      }
    }
  }

  svg {
    width: 32px;
  }

  @include darkmode {
    svg {
      fill: $lighterGray;
    }
  }
}