@charset "utf-8";

// Colors
$blue: #4183C4;
$link: #44C08F; // rgb(68,192,143)
$linkLight: #d7f1e7;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$slightGray: #aaa;
$lightGray: #ddd;
$lighterGray: #eee;
$white: #fff;

$border-color: $slightGray;
$border-radius: 0px;

// Font stacks
$lora: 'Noto Serif',
Georgia,
serif;
$openSans: 'Open Sans',
sans-serif;
$georgia: Georgia,
serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}

@mixin darkmode {
  @media screen and (prefers-color-scheme: dark) {
    @content;
  }
}