---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}"
        itemprop="datePublished">{{ page.date | date: "Posted on %B %-d, %Y." }}
      </time>
      {% if page.tags.size > 0 %}
      <span>
        Tags:
        {% for tag in page.tags %}
        {% if site.supported_tags contains tag %}
        <a href="{{ tag | prepend: site.tagurl }}">{{tag | slugify}}</a>.
        {% endif %}
        {% endfor %}
      </span>
      {% endif %}
    </p>
  </header>
  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>
  <div class="post-links">
    {% if page.previous.url %}
    <a href="{{ page.previous.url | prepend: site.baseurl }}">↢ Previous</a>
    {% endif %}
    <a href="{{ site.baseurl }}">Home</a>
    {% if page.next.url %}
    <a href="{{ page.next.url | prepend: site.baseurl }}">Next ↣</a>
    {% endif %}
  </div>
</article>